.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}
.button:hover{
    -fx-background-color: #ffe098;

}
.button:pressed{
    -fx-background-color: #ffc43a;
}
#raw, #packetTable {
    -fx-font-family: monospace bold;
}
.tab {
    -fx-background-color: #ffe098;
    -fx-border-color: #ffc43a;
}
.tab:selected{
    -fx-background-color: #ffc43a;
}
.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: transparent;
    -fx-max-height: 20px;
}
.properties{
    -fx-font-family: monospace;
}

.table-row{
    -fx-border-color: white;
    -fx-border-width: 0 0 1px 0;
}

.Udp, .SSDP{
    -fx-background-color: #94FFC6;
}

.Udp:selected, .SSDP:selected{
    -fx-background-color: #AFFFE1;
}

.Tcp, .HTTP{
    -fx-background-color: #87CCE8;
}

.Tcp:selected, .HTTP:selected{
    -fx-background-color: #39CCE8;
}

.ARP{
    -fx-background-color: #E8D6C3;
}
.ARP:selected{
    -fx-background-color: #9DD6C3;
}